{% extends "includes/base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if error %}
    <p style="color: red;"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Historial de pedidos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{{ url_for('crear_pedido')}}" class="btn btn-sm btn-outline-secondary">Nuevo pedido</a>
            </div>
        </div>
    </div>
    <div class="card border-primary mb-3 small">
        <table id="orders"  class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Factura nº</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Referencia</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    {% if current_user.is_admin %}
                    <th scope="col">Borrar</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entrada in entradas %}
                    <tr>
                        <th scope="row">{{entrada.id}}</th>
                        <td>{{entrada.fecha.strftime("%d-%m-%Y")}}</td>
                        <td>{{entrada.nombre}}</td>
                        <td>{{entrada.referencia}}</td>
                        <td>{{entrada.cantidad}}</td>
                        <td>{{entrada.total}}&nbsp;€</td>
                        {% if current_user.is_admin %}
                        <td><a href="{{ url_for('delete', entrada_id=entrada.id)}}" class="btn btn-outline-danger btn-sm">Borrar</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
<!-- Specific Page JS  -->
{% block javascripts %}
<script >
    /* Initialization of datatables */
    $(document).ready(function() {
        $("#orders").DataTable();
    } );
</script>
{% endblock javascripts %}